@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 16px;
    overflow: hidden;
}
body {
    background-color: #131418;
    font-family: "Pacifico";
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    user-select: none;
}
.themes {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}
.theme {
    width: 3rem;
    height: 3rem;
    border: 1px solid #888888;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.theme:hover {
    border: 1px solid #0cb18d;
}
.active-theme {
    border: 1px solid #11e2b5 !important;
}
.theme1 {
    background: #101010;
}
.theme2 {
    background: linear-gradient(135deg, #dc143c, #009688);
}
.theme3 {
    background: linear-gradient(135deg, #7f0096, #14abdc);
}
.music-box {
    width: 30rem;
    height: 30rem;
    position: relative;
    border-radius: 16%;
    border: 1px solid transparent;
    box-shadow: -10px -10px 15px #00000080, 10px 10px 15px #0000001f;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 10% 10% 25%;
}
.blur {
    width: 30rem;
    height: 30rem;
    border-radius: 16%;
    position: absolute;
    filter: blur(10px);
    z-index: -1;
}