@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 16px;
    overflow: hidden;
}
body {
    background-color: #131418;
    font-family: "Pacifico";
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    user-select: none;
}
.themes {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}
